{% extends 'home.html' %}


{% block content %}

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Registration Form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          
          {% for message in messages %}

          <h3 style="margin-left:140px ;" class=" btn btn-danger ">{{message}}</h3>

          {% endfor %}

          <!--Card-->
          <div class="card">


            <!--Card content-->
            <form action="register" method="post" class="card-body">
              {% csrf_token %}

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--firstName-->
                  <div class="md-form ">
                    <input type="text" name="fname" id="firstName" class="form-control">
                    <label for="firstName" class="">First name</label>
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--lastName-->
                  <div class="md-form">
                    <input type="text" name="lname" id="lastName" class="form-control">
                    <label for="lastName" class="">Last name</label>
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Username-->
              <div class="md-form input-group pl-0 mb-5">
                
                <input type="text" name="uname" class="form-control py-0" placeholder="Username" aria-describedby="basic-addon1">
              </div>

               <!--Pass1-->
               <div class="md-form input-group pl-0 mb-5">
               
                <input type="password" name="pass1" class="form-control py-0" placeholder="Password" aria-describedby="basic-addon1">
              </div>

               <!--Confirm Pass-->
               <div class="md-form input-group pl-0 mb-5">
                
                <input type="password" name="pass2" class="form-control py-0" placeholder="Confirm Password" aria-describedby="basic-addon1">
              </div>

              <!--email-->
              <div class="md-form mb-5">
                <input type="email" name="email" id="email" class="form-control" placeholder="youremail@example.com">
              </div>

             <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->
    
    </div>
</main>
<!--Main layout-->

{% include 'footer.html' %}
{% endblock %}